In [37]:
import pandas as pd

In [38]:
#飲み物リストのデータフレームを作成
df = pd.DataFrame([
        ['S', 100, 'cola'],
        ['M', 150, 'tea'],
        ['L', 200, 'coffee']])
df.columns = ['size', 'price', 'label']
df

  size  price   label
0    S    100    cola
1    M    150     tea
2    L    200  coffee

In [39]:
#飲み物のサイズと整数を対応させるディクショナリを生成
size_mapping = {'L': 3, 'M': 2, 'S': 1}
#飲み物のサイズを整数に変換
df['size'] = df['size'].map(size_mapping)
df

   size  price   label
0     1    100    cola
1     2    150     tea
2     3    200  coffee

In [40]:
from sklearn.preprocessing import LabelEncoder
#LabelEncoderのインスタンスを生成
le = LabelEncoder()
#ラベルを覚えさせる
le = le.fit(df['label'])
#ラベルを整数に変換
df['label'] = le.transform(df['label'])
df

   size  price  label
0     1    100      1
1     2    150      2
2     3    200      0

In [69]:
from sklearn.preprocessing import OneHotEncoder
#one-hot エンコーダの生成
oe = OneHotEncoder(categorical_features=[2])
#one-hot エンコーディングを実行
array = oe.fit_transform(df).toarray()
array

array([[  0.,   1.,   0.,   1., 100.],
       [  0.,   0.,   1.,   2., 150.],
       [  1.,   0.,   0.,   3., 200.]])

In [64]:
#DataFrameに変換
columns = ['label_coffee','label_cola','label_tea','size','price']
df1 = pd.DataFrame(data = array, columns = columns)
#列入れ替え
df1 = df1[['size','price','label_cola','label_tea','label_coffee']]
df1

   size  price  label_cola  label_tea  label_coffee
0   1.0  100.0         1.0        0.0           0.0
1   2.0  150.0         0.0        1.0           0.0
2   3.0  200.0         0.0        0.0           1.0

In [70]:
df['label'] = le.inverse_transform(df['label'])
df

   size  price   label
0     1    100    cola
1     2    150     tea
2     3    200  coffee

In [78]:
df_dummy = pd.get_dummies(df['label'])
df2 = pd.concat([df.drop(['label'],axis=1),df_dummy],axis=1)
df2

   size  price  coffee  cola  tea
0     1    100       0     1    0
1     2    150       0     0    1
2     3    200       1     0    0

In [81]:
df_dummy = pd.get_dummies(df['label'],drop_first = True)
df3 = pd.concat([df.drop(['label'],axis=1),df_dummy],axis=1)
df3

   size  price  cola  tea
0     1    100     1    0
1     2    150     0    1
2     3    200     0    0